<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>AjouterFilm</display-name>
    <servlet-name>AjouterFilm</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.md.servlet.AjouterFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterFilm</servlet-name>
    <url-pattern>/AjouterFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerFilm</display-name>
    <servlet-name>SupprimerFilm</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.md.servlet.SupprimerFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerFilm</servlet-name>
    <url-pattern>/SupprimerFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterUtilisateur</display-name>
    <servlet-name>AjouterUtilisateur</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.md.servlet.AjouterUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterUtilisateur</servlet-name>
    <url-pattern>/AjouterUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmParId</display-name>
    <servlet-name>FilmParId</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.md.servlet.FilmParId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmParId</servlet-name>
    <url-pattern>/FilmParId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterImagePourFilm</display-name>
    <servlet-name>AjouterImagePourFilm</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.md.servlet.AjouterImagePourFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterImagePourFilm</servlet-name>
    <url-pattern>/AjouterImagePourFilm</url-pattern>
  </servlet-mapping>
</web-app>